body {
  background-color: #c1bdbd;
}
.navbar {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background-color: #252323;
}

#navtop {
  padding-left: 0;
  padding-right: 0;
}

.nav-link {
  color: #252323 !important;
}

.navtop {
  color: #bab8b8 !important;
}

.img-navbar {
  height: 30px;
  width: 30px;
}

#highlights {
  border-style: solid;
  border-bottom: #252323;
}
